<!DOCTYPE html>

<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stype.css') }}" />
    <title>하이, 한글!</title>
</head>
<body>
    <!-- 네비게이션 ---------------------->
    {% include "navbar.html" %}
    <!-------------------------------------->

    <!--기본 템플릿 안에 삽입될 내용 -->
    {% block content %}
    {% endblock %}
    <!-------------------------------------->

    <!-- jQuery JS -->
    <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <!-- 자바 스크립트 블록 -->
    {% block script %}
    {% endblock %}
    <!-------end --------------->
</body>
</html>